/CodiceFiscale.java
/Cognome.java
/Data.java
/DataProssimaDonazione.java
/DatiDonatore.java
/Donatore.java
/Donazione.java
/EMail.java
/Gruppo.java
/Idoneo.java
/Indirizzo.java
/INode.java
/INodeList.java
/NodeChoice.java
/NodeList.java
/NodeListOptional.java
/NodeOptional.java
/NodeSequence.java
/NodeTCF.java
/NodeToken.java
/Nome.java
/NumeroDonazioni.java
/Scope.java
/Sezione.java
/Telefono.java
/TipoDonatore.java
/TipoDonazione.java
